.width{
    width: 50%;
    margin-left: 40px;
    margin-top: 12;
    border-radius: 15px;
}
.orange{
    color: orange;
}
h1{
    font-size: 35px;
}
.flexible-container{
    display: flex;
    margin-top: 90px;
    
}
.half-width{
    width: 50%;
    padding-left: 35px;
}
#down{
    margin-top: 70px;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.order-food{
    margin-top: 20px;
    text-decoration:none ;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 25px;
}
.contact-me{
    margin-top: 100px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.element-position{
    padding-right: 30px;
}
#header{
    margin-top: 200px;
}
.third-portion{
    margin-top: 50px;
    text-align: center;
}
#paragraph{
    width: auto;
    padding-left: 300px;
    padding-right: 300px;
}
.exact-width img{
    width: 400px;
    align-items: center
}
.exact-width{
    width: 35%;
    margin: 1%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
}
.eng-game{
    width: 55%;
    text-align: center;
}
.last{
    text-align: center;
    padding-left: 200px;
    box-shadow: 10px 10px 60px gray;
}
#gameover{
    padding-left: 30px;
}

.footer{
    margin-top: 40px;
    text-align: center;
    height: 150px;
    background-color: black;
    color: white;
    
}


